<launch>
  <arg name="gui" default="false"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find moveit_resources_panda_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true" />
  </include>

  <!-- Broadcast static tf for robot root -->
  <node name="virtual_joint" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 world panda_link0" />

  <!-- Publish joint states -->
  <arg name="exe" value="joint_state_publisher_gui" if="$(arg gui)"/>
  <arg name="exe" value="joint_state_publisher" unless="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="$(arg exe)" type="$(arg exe)">
    <rosparam param="/source_list">[/target_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for all robot links -->
  <node name="rsp" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />

  <!-- Run Rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" output="screen" args='-d "$(dirname)/demo.rviz"' />
</launch>